.navigation-container {
  text-align: center;
  vertical-align: middle;

  .navigation-icon {
    width: 90px;
  }

  .navigation-label {
    font-size: 90%;
  }
}

.previous-project-button {
  margin-top: 50%;
}

.next-project-button {
  float: right;
  margin-top: 15px;
  margin-right: 30px;
}

.project-container {

  padding-right: 0;
  height: 100%;

  .project-photo {
    width: 100%;
  }

  .play-movie-button {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    width: 140px;
    left: calc(50% - 70px);
    top: 10%;
    text-align: center;

    .icon {
      width: 100%;
    }

    p {
      margin-top: 30px;
      font-size: 120%;
      font-weight: bold;
      color: $white-color;
    }
  }

  .project-description {
    position: absolute;
    background-color: $white-color;
    padding: 30px 30px 10px 20px;
    margin-top: -30%;
    min-height: 30%;
    width: 70%;

    h2 {
      font-size: 140%;
    }

    p {
      text-align: justify;
    }
  }
}

.modal-dialog {
  width: 70%;
  //height: 600px;

  .modal-content {
    border-radius: 0;

    .modal-header {
      font-weight: bold;
      border: none;
    }

    .modal-body {
      padding: 0;
      height: 600px;
    }
  }
}