 <!DOCTYPE html>
 <html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
	<head>
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106564304-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());

            gtag('config', 'UA-106564304-1');
        </script>

        <meta property="og:url"                content="" />
        <meta property="og:type"               content="website" />
        <meta property="og:title"              content="tajny_projekt" />
        <meta property="og:description"        content="Warning: this is super hot" />
        <meta property="og:image"              content="resources/img/projects/faultyNature.png" />
        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="vendors/bootstrap/bootstrap.css">
		<script src="vendors/jQuery/jquery.min.js"></script>
		<script src="vendors/bootstrap/bootstrap.js"></script>
        <script src="vendors/vue/vue.min.js"></script>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
		<title>tajny_projekt</title>
        <link rel="image_src" href="resources/img/projects/dyplom_1.png" />
        <link rel="icon" href="resources/img/projects/dyplom_1.png" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="row row-eq-height">
				<div class="col-lg-6 left-column">
					<div id="title-container" class="title-container">
						<div id="box-1" class="box box-1-top"></div>
						<div id="box-2" class="box"></div>
						<div class="text-container">
							TAJNY<br>
							PROJEKT
						</div>
					</div>

                    <div class="contact-container">
                        __Contact:
                        <div>
                            <div class="info-section">
                                <a id="email-info" class="contact-link black" href="mailto:najtajniejszyprojekt@gmail.com">
                                    najtajniejszyprojekt@gmail.com
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="info-section">
                                <a id="phone-info" class="contact-link black" href="tel:0048791101014">
                                    0048 791 101 014
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="info-section">
                                <a id="insta-info" class="contact-link white"
                                   href="http://instagram.com/_u/tajnyprojekt/" target="_blank">
                                    <img class="insta-icon" src="resources/img/icons/insta.svg">/tajnyprojekt
                                </a>
                            </div>
                        </div>
                    </div>
				</div>
				<div id="projects-container" class="col-lg-6 right-column">
                    <div class="row row-eq-height">
                        <div id="previous-project-button" class="col-lg-2 col-sm-6 col-xs-6 navigation-container previous-project-button"
                             v-on:click="previousProject()">
                            <img class="navigation-icon" src="resources/img/icons/arrow-left.svg">
                            <div class="navigation-label">
                                Previous_bro
                            </div>
                        </div>

                        <div id="next-project-button_small-screen" class="col-sm-6 col-xs-6 navigation-container next-project-button" v-on:click="nextProject();">
                            <img class="navigation-icon" src="resources/img/icons/arrow-right.svg">
                            <div class="navigation-label">
                                Next_project
                            </div>
                        </div>

                        <!-- PROJECTS -->

                        <div id="project-container" class="col-lg-10 col-sm-12 col-xs-12 project-container">
                            <button class="play-movie-button" data-toggle="modal" data-target="#video-modal">
                                <img class="icon" src="resources/img/icons/play.svg">
                                <p>Watch_movie</p>
                            </button>
                            <img class="project-photo" v-bind:src="currentProject.imagePath">
                            <div class="project-description">
                                <h2>
                                    {{ currentProject.title }}<br/>
                                    _
                                </h2>
                                <p>
                                    <i>{{ currentProject.shortDescription }}</i>
                                    <br/><br/>
                                    <p v-html="currentProject.description"></p>
                                </p>
                                <span id="read-more-button" class="read-more-button"
                                      v-if="hasReadMoreDescription() && !isReadMoreExpanded"
                                      v-on:click="expandReadMore()">
                                    Read more...
                                </span>
                            <!--class="collapsed"-->
                                <p id="read-more-section"
                                   v-if="isReadMoreExpanded"
                                   v-html="currentProject.readMoreDescription">
                                </p>
                            </div>
                            <div class="modal fade" id="video-modal" ref="video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">{{ currentProject.title }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <iframe v-bind:src="currentProject.videoUrl"
                                                    width="100%" height="100%" frameborder="0"
                                                    webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                            </iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- PROJECTS END -->

                        <div id="next-project-button_large-screen" class="navigation-container next-project-button" v-on:click="nextProject();">
                            <img class="navigation-icon" src="resources/img/icons/arrow-right.svg">
                            <div class="navigation-label">
                                Next_project
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>

        <script src="resources/js/decorations.js"></script>
        <script src="resources/js/projects.js"></script>
    </body>
</html>
