body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
}

canvas:focus {
  outline: 0;
}

.title-container {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.title-container h1 {
  color: #ffffff;
  font-size: 500%;
  font-weight: 900;
}

.projects-container .project {
  text-align: center;
}

.projects-container .project .project-title {
  color: #ffffff;
  opacity: 0;
  font-size: 250%;
  font-weight: 700;
  margin-top: -60px;
  transition: margin-top 0.5s, opacity 0.5s;
}

.projects-container .project:hover .project-title {
  opacity: 1;
  margin-top: 0;
  transition: margin-top 0.5s, opacity 0.5s;
}