$white-color: #ffffff;
$black-color: #000000;
$big-text-size: 160%;
$medium-text-size: 150%;

body {
  cursor: crosshair;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Space Mono', monospace;
  color: $black-color;
  //overflow: hidden;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
}

canvas:focus {
  outline: 0;
}

.container-fluid {
  height: 100%;
}

.left-column {
  text-align: center;
  //padding-left: 50px;
  //padding-right: 100px;
  //@media(max-height: 1200px) {
  //  padding-right: 50px;
  //}
}

.right-column {
  //padding-right: 0;
}
