.contact-container {

  @media (max-width: 1199px) {
    font-size: 2em;
  }

  margin-top: 20%;
  margin-bottom: 100px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;

  .info-section {
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
  }

  .contact-link {
    text-decoration: none;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    &.black {
      background-color: $black-color;
      color: $white-color;
    }

    &.white {
      background-color: $white-color;
      border: 1px solid $black-color;
      color: $black-color;
    }
  }

  .insta-icon {
    max-height: 1.25em;
    margin-bottom: 0.25em;
  }

  //a {
  //  background-color: $black-color;
  //  text-decoration: none;
  //  color: $white-color;
  //  font-weight: bold;
  //  padding-top: 5px;
  //  padding-bottom: 5px;
  //  padding-left: 10px;
  //  padding-right: 10px;
  //}
  //
  //a .white-link {
  //  background-color: $white-color;
  //}
}