.title-container {
  cursor: not-allowed;
  text-align: center;
  color: $white-color;
  font-size: 150px;
  font-weight: bold;
  position: relative;
  margin-left: 12.5%;

  .text-container {
    z-index: 1;
    width: 75%;
  }

  .box {
    position: absolute;
    background: $black-color;
    width: 75%;
    height: 70px;
    z-index: -1;
    top: 330px;
    transition: top 0.6s cubic-bezier(0.1, 1, 0.6, 0.8);
  }

  #box-1 {
    left: 20px;
  }

  .box-1-top {
    top: 10px;
    transition: top 1s cubic-bezier(0.5, 0, 0.3, 0.9);
  }

  .box-2-top {
    top: 10px;
    transition: top 0.7s cubic-bezier(0.3, 0.6, 0.1, 0.4);
  }
}