body {
  cursor: crosshair;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Space Mono', monospace;
  color: #000000;
  overflow-y: scroll;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
}

canvas:focus {
  outline: 0;
}

.container-fluid {
  height: 100%;
}

.left-column {
  text-align: center;
}

.title-container {
  cursor: not-allowed;
  text-align: center;
  color: #ffffff;
  font-size: 150px;
  font-weight: bold;
  position: relative;
  margin-left: 12.5%;
}

.title-container .text-container {
  z-index: 1;
  width: 75%;
}

.title-container .box {
  position: absolute;
  background: #000000;
  width: 75%;
  height: 70px;
  z-index: -1;
  top: 330px;
  transition: top 0.6s cubic-bezier(0.1, 1, 0.6, 0.8);
}

.title-container #box-1 {
  left: 20px;
}

.title-container .box-1-top {
  top: 10px;
  transition: top 1s cubic-bezier(0.5, 0, 0.3, 0.9);
}

.title-container .box-2-top {
  top: 10px;
  transition: top 0.7s cubic-bezier(0.3, 0.6, 0.1, 0.4);
}

.menu-container {
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: 30%;
}

.menu-container #menu-item-container-1 {
  top: 0;
}

.menu-container #menu-item-container-2 {
  top: 57px;
}

.menu-container #menu-item-container-3 {
  top: 122px;
}

.menu-container #menu-item-container-4 {
  top: 190px;
}

.menu-container .menu-item-container {
  position: absolute;
  width: 100%;
}

.menu-container .menu-item-container .menu-box {
  position: absolute;
  background: #000000;
  height: 55px;
}

.menu-container .menu-item-container .menu-text {
  position: absolute;
  top: 0;
  line-height: 55px;
  padding-left: 40px;
  color: #ffffff;
  font-size: 150%;
}

.menu-container .menu-item-container #menu-box-left-1 {
  width: 57%;
}

.menu-container .menu-item-container #menu-box-right-1 {
  width: 45%;
  top: 10px;
  left: 55%;
}

.menu-container .menu-item-container #menu-box-left-2 {
  width: 55%;
}

.menu-container .menu-item-container #menu-box-right-2 {
  width: 46%;
  top: 13px;
  left: 54%;
}

.menu-container .menu-item-container #menu-box-left-3 {
  width: 51%;
}

.menu-container .menu-item-container #menu-box-right-3 {
  width: 49%;
  top: 10px;
  left: 51%;
}

.menu-container .menu-item-container #menu-box-left-4 {
  width: 48%;
}

.menu-container .menu-item-container #menu-box-right-4 {
  width: 53%;
  top: 12px;
  left: 47%;
}

.navigation-container {
  text-align: center;
  vertical-align: middle;
  cursor: none;
}

.navigation-container .navigation-icon {
  width: 200px;
}

.navigation-container .navigation-icon:hover {
  -webkit-transform: rotateZ(-360deg);
  transform: rotateZ(-360deg);
  transition: all 0.4s;
}

.navigation-container .navigation-label {
  color: #00ffff;
  font-size: 200%;
}

.project-container {
  padding-right: 0;
  height: 100%;
}

.project-container .full-size {
  height: 100%;
  width: 100%;
}

.project-container .full-height {
  height: 100%;
}

.project-container .project-navigation {
  position: absolute;
  cursor: none;
}

.project-container .project-photo {
  width: 100%;
}

.project-container .play-movie-button {
  background: none;
  border: none;
  outline: none;
  text-align: center;
  position: absolute;
}

.project-container .play-movie-button .icon {
  width: 100%;
}

.project-container .play-movie-button p {
  margin-top: 30px;
  font-size: 120%;
  font-weight: bold;
  color: #ffffff;
}

.project-container .slide-right {
  left: 100%;
  position: fixed;
  transition: all 0.4s;
}

.project-container .project-description {
  background: #ffffff;
  transition: height 0.4s;
}

.project-container .project-description h2 {
  font-size: 600%;
  font-weight: 900;
}

.project-container .project-description p {
  font-size: 200%;
  font-weight: 400;
  text-align: justify;
  line-height: 1.7;
}

.project-container .project-description p i {
  font-size: 200%;
  font-weight: 900;
}

.project-container .project-description .read-more-button {
  background: #000000;
  padding: 5px 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.modal-dialog .modal-content {
  border-radius: 0;
}

.modal-dialog .modal-content .modal-header {
  font-weight: bold;
  border: none;
}

.modal-dialog .modal-content .modal-body {
  padding: 0;
  height: 600px;
}

.contact-container-wrapper {
  position: relative;
  height: 550px;
}

.contact-container-area {
  position: absolute;
  width: 100%;
  height: 550px;
}

.contact-container {
  position: absolute;
  font-size: 200%;
  margin-bottom: 100px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.contact-container .info-section {
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.contact-container .contact-link {
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
}

.contact-container .contact-link.black {
  background: #000000;
  color: #ffffff;
}

.contact-container .contact-link.white {
  background: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.contact-container .insta-icon {
  max-height: 1.25em;
  margin-bottom: 0.25em;
}

.notice {
  font-size: 2rem;
  font-weight: bold;
}

@media (min-width: 1199px) {
  .project-container .play-movie-button {
    width: 140px;
    left: calc(50% - 70px);
    top: calc(50% - 110px);
  }

  .project-container .project-description {
    padding: 30px 30px 10px 20px;
    position: absolute;
    margin-top: -30%;
    width: 75%;
  }

  .modal-dialog {
    width: 70%;
  }
}

@media (max-width: 1199px) {
  .navigation-container {
    font-size: 2em;
  }

  .project-container {
    margin-top: 50px;
    font-size: 2em;
    padding-left: 0;
  }

  .project-container .play-movie-button {
    width: 240px;
    left: calc(50% - 120px);
    top: 10%;
  }

  .project-container .project-description {
    padding-left: 10%;
    padding-right: 10%;
  }

  .modal-dialog {
    margin-top: 40%;
    width: 100%;
  }

  .contact-container {
    font-size: 2em;
  }
}